body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url(./_imagens/laboratorio9.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


button#botao {
    background-color: rgb(90, 24, 110);
    padding: 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Philosopher', sans-serif;
}

h1 {
    text-align: center;
    background-color: rgba(189, 106, 214, 0.4);
    color: white;
    font-family: 'Philosopher', sans-serif;
    height: 50px;
    width: 500px;
    margin: auto;
    font-size: 30pt;
    transition: all;

}

p#inicio {
    text-align: center;
    font-size: 25pt;
    font-family: 'Philosopher', sans-serif;

}

p#conteudo {
    text-align: justify;
    font-size: 15pt;
    font-family: 'Philosopher', sans-serif;
}